@model Atestados.Presentation.MVC.ViewModels.AtestadoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AtestadoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ColaboradorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CidId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cid.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicaHospitalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicaHospital.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
